div.md-left-area {
    position: absolute;
    width: 300px;
    top: 1px;
    bottom: 1px;
    left: 1px;
}

div.md-top-area {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 50px;
    left: 1px;
}

div.data-types{
    position: absolute;
    right: 1px;
    top: 1px;
    height: 50px;
    left: 1px;
}

div.md-data-grid{
    position: absolute;
    right: 1px;
    top: 55px;
    min-height: 200px;
    bottom: 5px;
    left: 1px;
}

div.md-data-grid-item{

    height: 50px;

}

div.md-data-item-left-area{
    position: absolute;
    right: 1px;
    top: 1px;
    min-height: 10px;
    bottom: 1px;
    width: 50px;
}