<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <display-name>Business Intelligence in a Box Control Panel</display-name>
        <servlet-name>ControlPanel</servlet-name>
        <servlet-class>com.intellibps.bib.servlets.ControlPanel</servlet-class>
    </servlet>

    <servlet>
        <display-name>Business Intelligence in a Box Main</display-name>
        <servlet-name>BiBMain</servlet-name>
        <servlet-class>com.intellibps.bib.servlets.BiBMain</servlet-class>
    </servlet>

    <servlet>
        <display-name>Business Intelligence in a Box Designer</display-name>
        <servlet-name>BiBDesigner</servlet-name>
        <servlet-class>com.intellibps.bib.servlets.BiBDesigner</servlet-class>
    </servlet>

    <servlet>
        <display-name>Uplaod File</display-name>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.intellibps.bib.servlets.Upload</servlet-class>
    </servlet>

    <servlet>
        <display-name>Uploaded File</display-name>
        <servlet-name>Uploaded</servlet-name>
        <servlet-class>com.intellibps.bib.servlets.Uploaded</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControlPanel</servlet-name>
        <url-pattern>/cpanel</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BiBMain</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BiBDesigner</servlet-name>
        <url-pattern>/designer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Uploaded</servlet-name>
        <url-pattern>/uploaded</url-pattern>
    </servlet-mapping>


    <!-- Auto scan REST service -->
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- this need same with resteasy servlet url-pattern -->
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/rest</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>
