<div class="rounded-border normal-margin">
    <div class="normal-margin">
        <h2>Reports</h2>
    </div>

    <div class="normal-margin">
        <div id="report1" class="fill text-left" ng-click="loadReport('report1')">Report1</div>
    </div>
    <div class="normal-margin">
        <div id="report2" class="fill text-left" ng-click="loadReport('report2')">Report2</div>
    </div>
</div>

<div class="rounded-border normal-margin">
    <div class="normal-margin">
        <h2>Data</h2>
    </div>

    <div class="normal-margin">
        <div id="data1" class="fill text-left" ng-click="uploadData()">Upload File</div>
    </div>

    <div class="normal-margin">
        <div id="data2" class="fill text-left" ng-click="manageData()">Manage</div>
    </div>

</div>

<initialise comment="Initialise all the different controls that need the DOM to be available first">
    <jq-button button-id="data1"></jq-button>
    <jq-button button-id="data2"></jq-button>
    <jq-button button-id="report1"></jq-button>
    <jq-button button-id="report2"></jq-button>
</initialise>

