<div class="rounded-border normal-margin">
    <div class="normal-margin">
        <h2>Report Designer</h2>
    </div>

    <div class="normal-margin">
        <div id="new" class="fill text-left" ng-click="newReport()">New Report</div>
    </div>

    <div class="normal-margin">
        <div id="open" class="fill text-left" ng-click="openReport()">Open Report</div>
    </div>


</div>


<initialise comment="Initialise all the different controls that need the DOM to be available first">
    <jq-button button-id="new"></jq-button>
    <jq-button button-id="open"></jq-button>
</initialise>

