<div ng-controller="newReportWizardController" class="main-wizard-area cube-style">

    <div class="banner" id="banner">
        <ul>
            <li>
                <h1 style="color: white;">Report Layout One</h1>
                <img src="/images/highchart-options-l1.png" class="layout-template">
            </li>
            <li><h1 style="color: white;">Report Layout Two</h1>
                <img src="/images/highchart-options-l2.png" class="layout-template">
            </li>
            <li><h1 style="color: white;">Report Layout Three</h1>
                <img src="/images/highchart-options-l3.png" class="layout-template">
            </li>
            <li><h1 style="color: white;">Report Layout Four</h1>
                <img src="/images/highchart-options-l4.png" class="layout-template">
            </li>
        </ul>
    </div>

</div>

<initialise comment="Initialise all the different controls that need the DOM to be available first">
    <unslider unslider-class=".banner"></unslider>
</initialise>



